
<%# if @admin.errors.any? %>
  <%#= @admin.errors.count #コメントアウト→errors prohibited this obj from being saved:%>
  <ul>
   <%# @admin.errors.full_messages.each do |message| %>
    <li><%#= message %></li>
   <%# end %>                     
  </ul>
<%# end %>

 <main>
  <table class="table">
   <h2>会員一覧</h2>
    <th>会員ID</th>
    <th>氏名</th>
    <th>メールアドレス</th>
    <th>ステータス</th>

    <%# 顧客一覧情報の繰り返し処理 %>
    <td><% @admin_customers.each do |admin_customer| %>
　 <tbody>
    <th><%= admin_customer.id %></th>
    <th><%= link_to admin_customer.last_name + admin_customer.first_name, admin_customer_path(admin_customer.id) %></th>
    <th><%= admin_customer.email %></th>
    <th>
    <% if admin_customer.is_deleted == false %>有効
    <% elsif admin_customer.is_deleted == true %>退会
    <% end %>
    </th>

    </td>
   </tbody>
  </table>
 <% end %>
 <%= paginate @admin_customers %>
